<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>

    <body>
        <div class="container">
            <p>Hello <strong>
                    <%= name %>
                </strong></p>
            <p>Please reset your password by clicking on below link.</p>
            <a href="<%= url %>" target="_blank">Click here</a>
            <p><strong>Note:</strong> This link only valid for 2 hours.</p>
            <p><strong>Note:-</strong>If you are not able to click on above button then pls use this link below</p>
            <p>
                <%= url %>
            </p>
            <%- include('../partials/footer'); %>
        </div>
    </body>

</html>